$dflex-display: flex;

$size-0: 0rem;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;

$dw100-width: 100%;
$dw75-width: 75%;
$dw50-width: 50%;
$dw25-width: 25%;

$dh100-height: 100%;
$dh75-height: 75%;
$dh50-height: 50%;
$dh25-height: 25%;
