$dflex-display: flex;

$size-0: 0rem;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;

$W100: 100%;
$W75: 75%;
$W50: 50%;
$W25: 25%;

$H: 100%;
$H: 75%;
$H: 50%;
$h: 25%;

@for $i from 1 through 10 {
  .custom-ps-#{$i} {
    padding-inline-start: calc($i * 5px);
  }
}
@for $i from 1 through 20 {
  .width:-ps-#{$i} {
    width: calc($i * 5px);
  }
}
